<% content_for(:title, t('.title'), admin: true) %>
<div class="container mb-5 pt-2">
  <h1><%= t('.title') %></h1>
  <div class="row">
    <div class="col-md-12 mb-3">
      <%= render 'search_form' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col"><%= Board.human_attribute_name(:id) %></th>
          <th scope="col"><%= Board.human_attribute_name(:title) %></th>
          <th scope="col"><%= Board.human_attribute_name(:full_name) %></th>
          <th scope="col"><%= Board.human_attribute_name(:created_at) %></th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
          <% @boards.each do |board| %>
            <tr>
              <td><%= board.id %></td>
              <td><%= board.title %></td>
              <td><%= board.user.decorate.full_name %></td>
              <td><%= board.created_at %></td>
              <td>
              <button type="button" class="btn btn-primary" ><%= link_to '詳細', admin_board_path(board.id), class:"link-light", id: "button-show-#{board.id}" %></button>
              <button type="button" class="btn btn-success"><%= link_to '編集', edit_admin_board_path(board.id), class:"link-light", id: "button-edit-#{board.id}" %></button>
              <button type="button" class="btn btn-danger"><%= link_to '削除', admin_board_path(board.id), data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') }, class:"link-light", id: "button-delete-#{board.id}" %></button>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <!-- ページネーション -->
      <%= paginate @boards %>
    </div>
  </div>
</div>