<% content_for(:title, t('.title')) %>
<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h1><%= t('boards.edit.title') %></h1>

        <%= form_with model: @board, class: "edit_board" do |form| %>
          <%= render 'shared/error_message', object: form.object  %>
          <div class="mb-3">
            <%= form.label :title %>
            <%= form.text_field :title, class: "form-control" %>
          </div>
          <div class="mb-3">
            <%= form.label :body %>
            <%= form.text_area :body, class: "form-control",rows: "10" %>
          </div>
          <div class="mb-3">
            <%= form.label :board_image %>
            <%= form.file_field :board_image, class: "form-control", accept: 'image/*' %>
            <%= form.hidden_field :board_image_cache %>
          </div>
          <%= form.submit t('helpers.submit.update'),  class: "btn btn-primary" %>
        <% end %>
      </form>
    </div>
  </div>
</div>
